.cabecera{
    background-color: #414242;
    height: 14%;
}
.cabecera-formulario {
    background-color:#414242;
    height: 40px;
    padding: 5;
    margin-bottom: 14px;
}
.cabecera-formulario p{
    text-align:center;
    font-size: 20px;
    color: ivory;
}
