<div class="container ">
    <div class="jumbotron ditancia-jumbotrom">
        <section class="main row">
            <div  class="col-md-2"></div>
            <article class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="cabecera-formulario">
                            <p>Registro De Persona</p>
                        </div>
                        <form name="registro" onsubmit="">
                            <div class="form-group">
                                <label for="">Escriba su nombre : </label>
                                <input name="nombre" class="form-control" [(ngModel)]="persona.nombre" type="text" placeholder="Juan manuel" id="nombre">
                            </div>
                            <div class="form-group">
                                <label for="">Escriba sus apellidos : </label>
                                <input name="nombre" class="form-control" [(ngModel)]="persona.apellidos" type="text" placeholder="Juan manuel" id="nombre">
                            </div>
                            <div class="form-group">
                                <label for="">Escriba su cedula : </label>
                                <input name="identificacion" class="form-control" [(ngModel)]="persona.identificacion" type="text" placeholder="1065775558" id="cedula">
                            </div>
                            <div class="form-group">
                                <label for="">Escriba la ciudad de residencia : </label>
                                <input name="nombre" class="form-control" [(ngModel)]="persona.ciudad " type="text" placeholder="Juan manuel" id="nombre">
                            </div>
                            <div class="form-group">
                                <label for="">Sexo : </label>
                                <select name="sexo" class="form-control" [(ngModel)]="persona.sexo" id="sexo">
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Escriba su edad : </label>
                                <input name="edad" class="form-control" [(ngModel)]="persona.edad" type="number" placeholder="18 " id="edad">
                            </div>
                            <div class="cabecera-formulario">
                                <p>Datos del Apoyo</p>
                            </div>
                            <div class="form-group">
                                <label for="">Digite el monto a donar : </label>
                                <input name="apoyo" class="form-control" [(ngModel)]="persona.ayudaHumanitaria.valorApoyo" type="number" placeholder="100000$" id="edad">
                            </div>
                            <div class="form-group">
                                <label for="">Tipo de apoyo : </label>
                                <select name="sexo" class="form-control" [(ngModel)]="persona.ayudaHumanitaria.modalidad" id="sexo">
                                    <option value="Alimentario">Alimentario </option>
                                    <option value="Economico">Economico</option>
                                </select>
                            </div>
                            <input class="btn btn-outline-secondary" type="button" value= "Calcular Pulsaciones">
                            <button type="button" class="btn btn-dark" (click) = "agregarPersona()"> Registrar Persona </button>
                        </form>
                    </div>
                </div>
            </article>
            <div  class="col-md-2"></div>
        </section>
    </div>
</div>

